# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [4]:
# print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

tuple=(1,2,3,4,5,6,7,8,9,10,11,12,13,45,89,65)

print(tuple[:3:])
print(tuple[-3::])
print(tuple[2:6:])

(1, 2, 3)
(45, 89, 65)
(3, 4, 5, 6)

In [6]:
#Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.


matrix=((1,2,3),(4,5,6),(7,8,9))

for i in matrix:
    for j in i:
        print(j, end=" ")
    print()

print(matrix[1][2])

1 2 3
4 5 6
7 8 9
6

In [11]:
# Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

tuple=(1,2,3,4,5,4,7,2,6,4,89,5,113,6,4,48,56,21,3,6,1,3)

print(tuple.count(4))
print(tuple.index(4))

4
3

In [14]:
# Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

tup=("pruthvi",5.5,6.3,'A',89)

a,b,c,d,e=tup

print(a)
print(b)
print(c)
print(d)
print(e)

pruthvi
5.5
6.3
A
89

In [1]:
#  Convert a list of the first 5 positive integers to a tuple. Print the tuple.
lis = [1, 2, 3, 4, 5]
tup = tuple(lis)
print(tup)

(1, 2, 3, 4, 5)

In [2]:
# Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

tup = (1, 2, 3, 4, 5)
lis=list(tup)
lis.append(6)
tup=tuple(lis)

print(tup)

(1, 2, 3, 4, 5, 6)

In [3]:
# Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

tup=('p','r','u','t','h','v','i')
str=""

for i in tup:
    str=str+i

print(str)

pruthvi

In [ ]:
#  Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

def tuple_stats(tup):
    total = 0
    for num in tup:
        total += num

    minimum = min(tup)
    maximum = max(tup)

    return minimum, maximum, total


tup1 = (1, 5, 4, 8, 6, 5, 7)

mn, mx, sm = tuple_stats(tup1)

print("Minimum:", mn)
print("Maximum:", mx)
print("Sum:", sm)

Minimum: 1
Maximum: 8
Sum: 36