## Tuples

tuples are ordered collection of item wich is an immutable.They are similar to list,but their immutability makes them different

In [ ]:
## creating a tuple

empty_tuple=()
tpl=tuple() # second way to create empty tuple
print(empty_tuple,type(empty_tuple))

() <class 'tuple'>

In [7]:
number=tuple([2,5,6,8,9]) # convert list to tuple and also viceversa
print(number)

(2, 5, 6, 8, 9)

In [8]:
# tuple have an collection of different different datatype

mixed_tuple=("pruthvi",5,2.3,'A')
print(mixed_tuple)

('pruthvi', 5, 2.3, 'A')

In [12]:
## Accesing the tuple

num=(5,9,6,4,7,9,3,1,45,9,4,8,9)
print(num[0])
print(num[-1]) # print the last element

#indexing and slicing operation same as the list

print(num[::-1])
print(num[:8:2])

5
9
(9, 8, 4, 9, 45, 1, 3, 9, 7, 4, 6, 9, 5)
(5, 6, 7, 3)

## Tuple Operation

In [3]:
num=(2,5,6,9,8,5,62,89,54,76)
mix_tup=("pruthvi",5,5.2,'A')

result=num+mix_tup  # it will concatinate the both tuple
# or we can say append the tuple 

print(result)

(2, 5, 6, 9, 8, 5, 62, 89, 54, 76, 'pruthvi', 5, 5.2, 'A')

In [4]:
mix_tup*3

('pruthvi', 5, 5.2, 'A', 'pruthvi', 5, 5.2, 'A', 'pruthvi', 5, 5.2, 'A')

### Immutable nature of tuple

In [6]:
num

(2, 5, 6, 9, 8, 5, 62, 89, 54, 76)

In [ ]:
num[1]=5  # once assigned element ..it cannot change(it will give the error)
# ways to change like ..firstly create tuple convert to list then make
# changes and then back convert to tuples

TypeError: 'tuple' object does not support item assignment

## Tuple methods

In [9]:
num

(2, 5, 6, 9, 8, 5, 62, 89, 54, 76)

In [ ]:
print(num.count(5))  #count specific number occerence
print(num.index(5)) # print first index of the given value

2
1

### packing and unpacking tuple

In [23]:
# packing...
packed_tuple=1,"hello",3.14  

#we are going to give the elements by quama seprated and when we print 
# it then it will automatically packed..

print(packed_tuple)

(1, 'hello', 3.14)

In [24]:
# unpacking

a,b,c=packed_tuple

# we are unpacking each element from packed tuple...by assigning the value with quama seprated and print it

print(a)
print(b)
print(c)

1
hello
3.14

In [25]:


### unpacking with *
num1=(1,2,3,4,5,6,7,8,9)

first,*middle,last=num1

# variable should be match to unpack as number of element it contains
# basically star is used to to unpack the remaining elemnt in form of list
# using that variable list we can able to  make changes also as in below example


print(first)
print(middle)
print(last)

middle[0]=87   # maked changes 

print(middle)

1
[2, 3, 4, 5, 6, 7, 8]
9
[87, 3, 4, 5, 6, 7, 8]

### Nested Tuple

tuple inside tuple is called nested tuples same for list also

In [29]:
tup=((1,5,8),("hello",5,53.6),(8,6,'h'))

# acces the elements inside the tuple

print(tup[0])
print(tup[0][1])

# we also able to have an tuple inside the nested list

l1=[["pruthvi",25,5],("hello",25.6,4)]
# we also able to accces the element from that

print(l1[1])

(1, 5, 8)
5
('hello', 25.6, 4)

### iterating the tuple

In [32]:
tup=((1,5,8),("hello",5,53.6),(8,6,'h'))

for i in tup:
    for j in i:
        print(j,end=" ")
    print()

1 5 8
hello 5 53.6
8 6 h